*.swp
**/__pycache__/**
.dumbo.json
checkpoints/
.idea/*
**/.ipynb_checkpoints/**
run.sh
output/
wandb/
runs/
.vscode/
*.pth
*.DS_Store
notebooks/
pretrained/
AGENTS.MD
TASKS.MD
progress_reports/
playground/
SETUP_RCP.md
REPO_NOTES.md
PLOTS.MD
SETUP_SCITAS.md